@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

// Default remove

a {
  outline: 0;
}

* {
  margin: 0;
  padding: 0;
}

// Color

:root {
  --primary: #242933;
  --dark: #00000a;
  --colorpaint: #bb060b;
  --white: #f8ffff;
}
.white {
  color: var(--white);
}
.colorspan {
  color: var(--colorpaint);
}
.black {
  color: var(--dark);
}

// Loader

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > img {
  width: 64px;
}

.loader.hidden {
  animation: fadeOut 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

// General

body {
  font-family: 'Teko', sans-serif;
  background: var(--dark);
  color: var(--white);
  line-height: 1.6;
  overflow-x: hidden;
}
ul {
  list-style: none;
}
.nounder {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.container {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.pads {
  padding-bottom: 1rem;
}
.m-sm {
  padding-bottom: 1rem;
}
.fa-eye {
  margin: 1rem;
}

// NAVBAR

.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.3);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 0.3rem;
}

// PLANET canvas
#canvas-container {
  position: absolute;
  z-index: -1;
  overflow-x: hidden;
}

// Animation nav
.hanim {
  position: relative;
  border: 2px solid transparent;
  box-sizing: border-box;
  display: inline-block;
  padding: 0 1rem;
}

.hanim:before {
  position: absolute;
  content: '';
  background: transparent;
  border: 2px solid transparent;
  width: 0;
  height: 0;
  left: -4px;
  top: -4px;
}
.hanim:hover:before {
  animation: animate 0.5s linear forwards;
}
@keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: #bb060b;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: #bb060b;
    border-right-color: #bb060b;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #bb060b;
    border-right-color: #bb060b;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
.hanim:after {
  position: absolute;
  content: '';
  background: transparent;
  border: 2px solid transparent;
  width: 0;
  height: 0;
  left: -4px;
  top: -4px;
}
.hanim:hover:after {
  animation: animate2 0.5s linear forwards;
}
@keyframes animate2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #bb060b;
  }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #bb060b;
    border-left-color: #bb060b;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #bb060b;
    border-left-color: #bb060b;
  }
}

// Canvas text

.holder {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.05) 100%
  );
  padding: 2rem 3rem 2rem 4rem;
}
// Section

section#home {
  display: grid;
  justify-content: start;
  align-content: center;
  height: 100vh;
}

section#about {
  display: grid;
  grid-template-columns: 0.25fr auto auto 0.25fr;
  grid-template-rows: 0.06fr 0.06fr auto;
  grid-template-areas:
    'line line line line'
    '.  title2 . .'
    '. about1 selfy .';
  grid-gap: 3rem;
  padding-top: 5rem;
  background: var(--dark);
}
.fontread {
  font-family: 'Fira Sans', sans-serif;
}
.fonttitle {
  font-family: 'Teko', sans-serif;
}

.line {
  background-image: linear-gradient(
    to bottom,
    #0c1821,
    #0e1c27,
    #101f2d,
    #132333,
    #162639,
    #192a3e,
    #1d2e44,
    #203249,
    #24384f,
    #293e54,
    #2d445a,
    #324a5f
  );
  display: flex;
  grid-area: line;
  justify-content: space-around;
  align-content: center;
  color: var(--dark);
  padding: 2rem 0;
}
#MP {
  padding: 1rem;
}

.title2 {
  grid-area: title2;
}
.graycol {
  color: #324a5f;
}
.graycoll {
  color: #9aa0a8;
}
.graycol3 {
  color: #446678;
}
.padicon {
  padding-right: 0.4rem;
}
.abouttext {
  grid-area: about1;
  max-width: 700px;
  justify-self: center;
  align-self: start;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}
.manofoto {
  grid-area: selfy;
  max-width: 700px;
  justify-self: center;
  align-self: start;
}
.manofoto img {
  width: 100%;
}

.containerSVG {
  width: 34px;
  height: 30px;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-95%, -50%);
  opacity: 0.6;
}

// Contacts

.gridy {
  display: grid;
  grid-row-gap: 1.5rem;
  grid-column-gap: 1rem;
  grid-template-columns: 40px auto;
  grid-template-rows: repeat(6, 50px);
  align-items: center;
  justify-items: start;
  margin-bottom: 3rem;
}
.gridy i {
  justify-self: center;
}
.contactholder {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 40px 40px auto;
  grid-template-rows: 40px;
  align-items: center;
  justify-items: start;
}
.contactholder a {
  justify-self: center;
}

// Dektop Arrow

.chevron {
  position: absolute;
  width: 32px;
  height: 10px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
  z-index: 6;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(20px);
  }
  67% {
    opacity: 1;
    transform: translateY(30px);
  }
  100% {
    opacity: 0;
    transform: translateY(45px) scale3d(0.5, 0.5, 0.5);
  }
}
// ------------projects

section#projects {
  display: grid;
  grid-template-columns: 0.25fr auto auto 0.25fr;
  grid-template-rows: 0.06fr auto auto;
  grid-template-areas:
    '.  title . .'
    '. pics1 text1 .'
    '. pics2 text2 .';
  grid-gap: 3rem;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 10, 1) 100%
    )
    no-repeat center center/cover;
  padding-top: 5rem;
}
.title1 {
  grid-area: title;
  padding-bottom: 3rem;
  justify-self: start;
}

.pics1 {
  grid-area: pics1;
  justify-self: center;
  align-self: start;
  box-sizing: border-box;
  padding-bottom: 1.8rem;
}

.text1 {
  grid-area: text1;
  display: block;
  justify-self: center;
  align-self: start;
  padding-bottom: 2rem;
  font-family: 'Fira Sans', sans-serif;
  max-width: 750px;
}
.pics2 {
  grid-area: pics2;
  justify-self: center;
  align-self: start;
  box-sizing: border-box;
}

.text2 {
  grid-area: text2;
  display: block;
  justify-self: center;
  align-self: start;
  font-family: 'Fira Sans', sans-serif;
  max-width: 750px;
}

.mySlides {
  display: none;
  object-fit: cover;
  max-width: 700px;
  padding-bottom: 1rem;
}
.mySlides img {
  vertical-align: middle;
  width: 100%;
}
.mySlides2 {
  display: none;
  object-fit: cover;
  max-width: 700px;
  padding-bottom: 1rem;
}
.mySlides2 img {
  vertical-align: middle;
  width: 100%;
}

// Slideshow Container

.slideshow-container {
  position: relative;
  max-width: 700px;
  padding-top: 0.75rem;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -36px;
  color: var(--white);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  opacity: 0.5;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(214, 214, 214);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.4s ease;
}
.dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(214, 214, 214);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.4s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

// MEDIA QUERIES

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.xlarge {
  font-size: 3rem;
}

.large {
  font-size: 2rem;
}
.lead {
  font-size: 1.2rem;
}

.normal {
  font-size: 1rem;
}
html {
  font-size: 16px;
}
@media screen and (max-width: 2560px) {
  html {
    font-size: 17px;
  }
  .landtitle {
    font-size: 3rem;
    letter-spacing: 0.5rem;
  }
}

@media screen and (max-width: 1920px) {
  html {
    font-size: 16px;
  }
  .landtitle {
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
  }
  .text2 {
    max-width: 700px;
  }
  .text1 {
    max-width: 700px;
  }
}
@media screen and (max-width: 1680px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 1380px) {
  html {
    font-size: 12px;
  }
  .landtitle {
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 11px;
  }
  section#home {
    align-content: end;
  }
  .landtitle {
    font-size: 1.9rem;
    letter-spacing: 0.27rem;
  }
  .holder {
    padding: 1rem 1rem 1rem 2rem;
    margin-bottom: 8rem;
  }
  .containerSVG {
    display: none;
  }
  .chevron {
    width: 22px;
  }
  .pad1 {
    padding: 0.5rem;
  }
  section#projects {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      'title'
      'text1'
      'pics1'
      'text2'
      'pics2';
    grid-gap: 1rem;
    padding-top: 5rem;
  }
  section#about {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      'line'
      'title2'
      'about1'
      'selfy';
    grid-gap: 1rem;
  }
  .pics1 {
    padding: 1.5rem;
  }
  .text1 {
    padding: 1.5rem;
  }
  .pics2 {
    padding: 1.5rem;
  }
  .text2 {
    padding: 1.5rem;
  }
  .abouttext {
    margin: 1.5rem;
  }
  .laikiklisimg {
    padding: 1.5rem;
  }
  .gridy {
    grid-column-gap: 0.5rem;
    grid-template-columns: 30px auto;
    grid-template-rows: repeat(6, 40px);
  }
  .contactholder {
    grid-column-gap: 0.5rem;
    grid-template-columns: 30px 30px auto;
    grid-template-rows: 40px;
  }
}
@media screen and (max-width: 620px) {
  html {
    font-size: 11px;
  }
  .landtitle {
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
  }

  .chevron {
    width: 20px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 10px;
  }
}
// .darkbox {
//   position: absolute;
//   border: 2px solid red;
//   box-sizing: border-box;
//   display: inline-block;
//   padding: 0 1rem;
//   background: rgba(0,0,0,0.3);
//   // transform: scaleX(0);
//   // transition: 0.5s;
//   color: #48699c;
// }
